/* Breakpoints */


/*
$bp-small: 24em;
$bp-med: 46.8em;
$bp-large: 50em;
$bp-xlarge: 73em;
@media all and (min-width: $bp-small) {
    header,
    footer {
        max-width: $bp-small;
    }
}

@media all and (min-width: $bp-med) {
    header,
    footer {
        max-width: $bp-small;
    }
}

@media all and (min-width: $bp-large) {
    header,
    footer {
        max-width: $bp-med;
    }
}

@media all and (min-width: $bp-xlarge) {
    header,
    footer {
        max-width: $bp-large;
    }
}*/