header {
    margin: 0;
    position: fixed;
    height: 3em;
    background: $header-bg;
    width: 100%;
    top: 0;
    padding: 0;
    nav {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        ul {
            display: inline;
            li {
                display: inline-block;
                border-left: 1px solid $bg;
                position: relative;
                @include transition(all 0.2s);
                cursor: pointer;
                border: 1px solid #F0F;
                i {
                    width: 3em;
                    height: 3em;
                    text-indent: -666em;
                    display: inline-block;
                }
                :hover {
                    ~ul {
                        display: block;
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 3em;
                    border-top: 1px solid $bg;
                    background: $header-bg;
                    @include transition(transform 0.2s ease-in 0.2s, opacity 0.2s ease);
                }
            }
        }
    }
}

#genesis {
    $blockSize: 4;
    display: block;
    width: 500px*$blockSize;
    height: (200px*$blockSize);
    margin: 5em 0 0 0;
}

#genesis {
    * {
        /*shape-rendering: crispEdges;*/
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: $axis-line-colour;
        shape-rendering: crispEdges;
    }
    .tick text {
        font-family: $axis-font-family;
        fill: $axis-font-colour;
        font-size: $axis-font-size;
    }
    text.label {
        font-family: $axis-label-font-family;
        fill: $axis-label-font-colour;
        font-size: $axis-label-font-size;
        letter-spacing: 1px;
    }
    path.domain {
        stroke: $axis-font-colour;
        stroke-width: 1;
    }
    .tooltip {
        position: absolute;
        font-size: 1.4em;
        pointer-events: none;
        padding: 1em 1em;
        font-family: 'Roboto', Arial, Verdana, sans-serif;
        font-size: 11px;
        color: $bg;
        width: 260px;
    }
    .tooltip-table td {
        vertical-align: top;
    }
    .tooltip-table td:nth-child(even) {
        padding-left: 1em;
    }

    /* Words */
    rect.word {
        stroke-alignment: inner;
        stroke-width: 1px;
    }
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;

    &:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        position: absolute;
        pointer-events: none;
    }
    &.n:after {
        content: "\25BC";
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
        text-align: center;
    }
    &.e:after {
        content: "\25C0";
        margin: -4px 0 0 0;
        top: 50%;
        left: -8px;
    }
    &.s:after {
        content: "\25B2";
        margin: 0 0 1px 0;
        top: -8px;
        left: 0;
        text-align: center;
    }
    &.w:after {
        content: "\25B6";
        margin: -4px 0 0 -1px;
        top: 50%;
        left: 100%;
    }
    table td:nth-child(1) {
        padding-right: 1em;
        white-space: nowrap;
    }
}