$base-font-family: 'Arial',
'Helvetica',
'sans-serif';
$base-line-height: 1.4em;
$axis-font-family: 'Geneva',
'sans-serif';
$axis-font-size: 0.6em;
$axis-label-font-family: 'Bebas Neue Regular',
'Arial',
'Helvetica',
'sans-serif';
$axis-label-font-size: 1.4em;

$blockSize: 4;
$graphWidth: 90%;
$graphHeight: 150px*$blockSize;