/* Background Colours */

$bg: #232121/0.85;
$header-bg: #232121;
$progress-bar: #444;

/* Type Colours */

$heading-colour: #ED217C;
$text-colour: #DAD7CD;

/* Graph Colours */

$axis-font-colour: #BFB8AD;
$axis-line-colour: #EADEDA;
$axis-label-font-colour: #07A0C3;

/* Link Colours */

$link-colour: $heading-colour;