/* Background Colours */

$bg: #171b1c;
$header-footer-bg: #232121;
$progress-bar: #444;
$divider: #444;

/* Type Colours */

$heading-colour: #ED217C;
$text-colour: #85847f*1.2;
$text-colour-light: #FEFEFE;

/* Graph Colours */

$axis-font-colour: #BFB8AD;
$axis-line-colour: #EADEDA;
$axis-label-font-colour: #07A0C3;

/* Link Colours */

$link-colour: $heading-colour;
$button-color: #05738C;
$button-color: $heading-colour;
$button-color-hover: #05738C/0.8;